body{
    margin:0;
    font-family:Arial;
    background:#f4f6f9;
}

.main-header{
    text-align:center;
    background:#002b5c;
    color:white;
    padding:25px;
}

.nav-links{
    margin-top:15px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:60px;
    background:white;
}

.rule-text{
    margin-top:20px;
    font-size:16px;
}

.center{
    text-align:center;
    margin-top:30px;
}

.events{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:40px;
}

.card{
    background:white;
    width:250px;
    margin:15px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    border-radius:8px;
    text-align:center;
}

.card button{
    background:#002b5c;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    border-radius:5px;
    cursor:pointer;
}

.form{
    width:350px;
    margin:60px auto;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.form input{
    margin:8px 0;
    padding:10px;
}

.form button{
    background:#002b5c;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

.back-btn{
    position:absolute;
    left:15px;
    top:15px;
    text-decoration:none;
    color:#002b5c;
    font-weight:bold;
}

.message-box{
    margin-top:15px;
    padding:10px;
    background:#e6f0ff;
    border-left:5px solid #002b5c;
    display:none;
}
